*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

.weather-card {
  width: 300px;
  margin: 0 auto;
  padding: 30px 0;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #1d1946c7;
}

.weather-info {
  color: #ffffff;
  max-width: 80%;
  margin: 0 auto;
}

.search-container {
  margin-top: 40px;
}

.boxLoading {
  /* Define your loading animation styles here */
  /* For example, use a spinning loader or a progress bar */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: spin 1s infinite linear;
  margin: 0 auto;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none !important;
}
